*{
    margin: 0;
    padding: 0; 
    
}

form{
    margin: 2vw auto;
    height: max-content;
    width: max-content;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px ;  
    font-family: Roboto, Arial, sans-serif;
    font-style:#151426;
    font-weight: bold; 
    font-size: 16px; 
}

form label,form input{
    margin: 3px 2px;
    padding: 2px;
    border-radius: 3px; 

}
form label{
    text-align: left;
    
}
form input{
    align-items:  center  ;
   float: inline-end;
   outline: none;
   
}

.imgg{
    margin: 4vh 3vh;}

.heading{
    font-family: 'The Nautigal', cursive;
    font-size: 30px;
    margin: 10px 0;
    
    text-shadow: 1.5px 1.5px 3px #0AA1DD; 
    /* text-shadow: 0 0 5px rgba(0,0,0,0.5); */
}
.btn{
      margin-top: 20px;
        border-radius: 15px; 
        border: none;
        background: #26a9e0; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400px;
        color: #fff;
        cursor: pointer;
        width: 40%;
        height: 30px;
        align-items:  center;
        margin-left: 92px;
        margin-bottom: 5px;      
}
button:hover, .btn:hover {
    background: #85d6de;
    }

 .ftr{
  
    height: 20px;
    padding-top: 10px;
    text-align: center;
    line-height: 17px;
    
 }
 .futer{
    margin-top: 15vh;
    height: 36px;
    background-color: #4B8673;
    } 
 table {
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.35) 1px 5px 15px ;    
      overflow: hidden;

}
      #parent thead tr th{
          background-color:#009879;
          color: #ffffff;
          text-align: left;
          font-weight: bold;
      }

table th,table td {
    padding: 12px 15px;
}
table tr{
    border-bottom: 1px solid #dddddd;
}
table tr:nth-of-type(even){
    background-color: #f3f3f3;
}
table tr:last-of-type{
    border-bottom: 2px solid #009879;
}
#hi{
    visibility: hidden;
   text-align: center;
   align-items: center;
   font-family: Roboto, Arial, sans-serif;
   font-style:#151426;
   font-weight: bold; 
   font-size: 16px; 
  
   text-shadow: 1.3px 1.3px ; 
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
   text-shadow: 1px 1px 3px #006E7F; 
}
.imgNav{
    cursor: pointer;
}

